.Category{
    background-color: green;
    padding: .5rem;
    height:5rem;
    width: 5rem;
    box-sizing: border-box;
    border-radius: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:1rem;
}
.Category img {
    background-color: lightgreen;
    padding: .5rem;
    width: 3rem;
    border-radius: 20%;
}
.Category img.active{
    background-color: mediumseagreen;
}
.Category img:hover{
    background-color: mediumseagreen;
    cursor: pointer;
}
.Category:hover{
    background-color: darkgreen;
    cursor: pointer;
}

.Category span{
    color:white;
    padding:.2rem;
    margin:.2rem;
    border-radius: 1rem;
}
.Category:hover span{
    background-color: darkgreen;
    display: block;
}
.Category span{
    display: none;
}


@media (max-width: 600px) {
    .Category{
        background-color: green;
        padding: .5rem;
        height:3rem;
        width:3rem;
        box-sizing: border-box;
        border-radius: 10%;
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    .Category img {
        background-color: lightgreen;
        padding: .5rem;
        width: 1rem;
        border-radius: 20%;
    }
    .Category:hover span{
        background-color: darkgreen;
        display: none;
    }
}