.Messages{
    display: table;
    margin:1rem auto;
    width: 800px;
    box-shadow: 0px 2px 3px #cccccc;
}
.MessagePartners{
    display: flex;
    flex-direction: column;
    padding:1rem;
}

.NavBar{
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    .Messages{
        width: 350px;

    }
    .MessagePartners img{
        width:2rem;
    }
    .MessagePartners,.MessagePartner{
        justify-content: space-between;
        padding:1rem;
    }
    .Username,.MessageTime{
        margin-top:.5rem;
    }
}