.MessageSender{
    width: 770px;
    box-shadow: 0px 2px 3px #cccccc;
    margin: 8rem auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.MessageSender textarea{
     width: 720px;

 }

.MessageSender img{
    width: 3rem;
}
.Header{
    display: flex;
    justify-content: center;
}
.Username{
    margin-right:1rem;
    color:darkgreen;
    font-weight: bold;
}
.Title{
    margin-top: .5rem;
}
@media (max-width: 600px) {
    .MessageSender{
        width: 400px;
        margin: 2rem auto;
    }
    .MessageSender textarea{
        width: 375px;
        height: 400px;
    }
}
