.Username,.MessageTime{
    margin-top:1rem;
}
.MessagePartner:hover{
    cursor: pointer;
    background: lightgreen;
}
.NewMessagePartner{
    box-shadow: 0px 2px 3px darkgreen;
    background: lightgreen;
}
.MessagePartner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:1rem;
    margin:.5rem;
    box-shadow: 0px 2px 3px #cccccc;
}
.MessagePartner img{
    width:4rem;
}
@media (max-width: 600px) {
    .MessagePartner img{
        width:2rem;
    }
    .MessagePartner{
        justify-content: space-between;
        padding:1rem;
    }
    .Username,.MessageTime{
        margin-top:.5rem;
    }
}